@import url("https://fonts.googleapis.com/css2?family=Hind:wght@300;400;500;600;700&display=swap");

body {
  background-size: 100%;
  background-image: url(https://weblogin.muninqn.gov.ar/WebResources/images/fondo.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.opcion {
  display: inline-block;
  cursor: pointer;
  width: 180px;
  height: 160px;
  margin: auto;
  background-color: transparent;
}

.icono {
  margin: 0 auto;
  display: block;
  width: 130px;
  height: 130px;
  zoom: 65%;
  border-radius: 100px;
  background-position: center;
  background-color: #109ad6;
  /* background-image: url(un/url/icono.png); */
  background-size: 80%;
  background-repeat: no-repeat;
  color: transparent;
}

.opcion-titulo {
  color: #109ad6;
  font-weight: bold;
  margin-top: 33px;
}
.header {
  margin: 3%;
}
#divUserInfo {
  display: block;
  float: right;
}
.whiteButton {
  font-family: Roboto;
  font-size: 10pt;
  cursor: pointer;
  padding: 10px;
  background-color: white;
  color: #109ad6 !important;
  border: 3px solid #109ad6;
  text-align: center;
  border-radius: 20px;
  width: 300px !important;
  margin-left: 20px;
}
.whiteButton:hover {
  background-color: rgb(248, 248, 248);
  color: #109ad6 !important;
}
.opcion-titulo {
  color: #109ad6;
  font-family: "Hind", sans-serif !important;
  font-weight: 600 !important;
}
#lblVarUSUARIO {
  font-family: "Hind", sans-serif !important;
  font-weight: 600 !important;
}
.contacto-menu {
  display: none;
}
.contacto-logo {
  display: block;
}
@media (max-width: 768px) {
  .municipalidad-logo {
    width: 150px;
  }
  .contacto-menu {
    display: block;
  }
  .contacto-logo {
    display: none;
  }
}
